<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodieadmin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_restaurant"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_restaurant"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DailyMenuActivity"
            android:label="@string/title_activity_daily_menu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.foodieadmin.MainActivity" />
        </activity>
        <activity
            android:name=".AddFoodActivity"
            android:label="@string/title_activity_add_food"
            android:parentActivityName=".FoodActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.foodieadmin.FoodActivity" />
        </activity>
        <activity
            android:name=".CategoryFormActivity"
            android:label="@string/title_activity_category_form"
            android:parentActivityName=".CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.foodieadmin.CategoryActivity" />
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.foodieadmin.MainActivity" />
        </activity>
        <activity
            android:name=".FoodActivity"
            android:label="@string/title_activity_food"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.foodieadmin.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>